USE [labweb1]
GO
/****** Object:  Table [dbo].[TBL_ACCOUNT]    Script Date: 11/25/2021 10:15:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACCOUNT](
	[USERID] [varchar](50) NOT NULL,
	[PHONE] [varchar](50) NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[CREAT_DATE] [date] NULL,
	[ROLE_ID] [varchar](50) NULL,
	[STATUS_ID] [varchar](50) NULL,
	[ACTIVE_CODE] [nchar](10) NULL,
 CONSTRAINT [PK_TBL_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ACCOUNT_ROLE]    Script Date: 11/25/2021 10:15:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACCOUNT_ROLE](
	[ID] [varchar](50) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_ACCOUNT_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ACCOUNT_STATUS]    Script Date: 11/25/2021 10:15:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ACCOUNT_STATUS](
	[ID] [varchar](50) NOT NULL,
	[STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_ACCOUNT_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BOOKING]    Script Date: 11/25/2021 10:15:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BOOKING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [varchar](50) NULL,
	[RESOURCE_ID] [varchar](50) NULL,
	[BOOKING_DATE] [date] NULL,
	[STATUS_BOOKING] [varchar](50) NULL,
	[ADMIN_APPROVE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BOOKING_STATUS]    Script Date: 11/25/2021 10:15:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BOOKING_STATUS](
	[ID] [varchar](50) NOT NULL,
	[STATUS_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_BOOKING_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CATEGORY]    Script Date: 11/25/2021 10:15:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORY](
	[ID] [varchar](50) NOT NULL,
	[CATEGORI_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RESOURCE]    Script Date: 11/25/2021 10:15:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RESOURCE](
	[ID] [varchar](50) NOT NULL,
	[COLOR] [varchar](50) NULL,
	[CATEGORY_ID] [varchar](50) NULL,
	[QUANTITY] [int] NULL,
	[NAME] [varchar](50) NULL,
	[CREATED_DATE] [date] NULL,
 CONSTRAINT [PK_TBL_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_ACCOUNT] ([USERID], [PHONE], [FULLNAME], [ADDRESS], [PASSWORD], [CREAT_DATE], [ROLE_ID], [STATUS_ID], [ACTIVE_CODE]) VALUES (N'1', N'1', NULL, NULL, N'1', NULL, N'3', N'2', NULL)
INSERT [dbo].[TBL_ACCOUNT] ([USERID], [PHONE], [FULLNAME], [ADDRESS], [PASSWORD], [CREAT_DATE], [ROLE_ID], [STATUS_ID], [ACTIVE_CODE]) VALUES (N'bao@gmail.com', N'0964905018', N'bao', N'bao', N'123', CAST(N'2021-10-03' AS Date), N'3', N'1', N'e7fb5     ')
INSERT [dbo].[TBL_ACCOUNT] ([USERID], [PHONE], [FULLNAME], [ADDRESS], [PASSWORD], [CREAT_DATE], [ROLE_ID], [STATUS_ID], [ACTIVE_CODE]) VALUES (N'chien1@gmail.com', N'0964904917', N'PH Chien1', N'QUAN12', N'123', CAST(N'2021-05-30' AS Date), N'3', N'2', N'bd5d6     ')
GO
INSERT [dbo].[TBL_ACCOUNT_ROLE] ([ID], [ROLE_NAME]) VALUES (N'1', N'MANAGER')
INSERT [dbo].[TBL_ACCOUNT_ROLE] ([ID], [ROLE_NAME]) VALUES (N'2', N'LEADER')
INSERT [dbo].[TBL_ACCOUNT_ROLE] ([ID], [ROLE_NAME]) VALUES (N'3', N'EMPLOYEE')
GO
INSERT [dbo].[TBL_ACCOUNT_STATUS] ([ID], [STATUS]) VALUES (N'1', N'NEW')
INSERT [dbo].[TBL_ACCOUNT_STATUS] ([ID], [STATUS]) VALUES (N'2', N'ACTIVE')
INSERT [dbo].[TBL_ACCOUNT_STATUS] ([ID], [STATUS]) VALUES (N'3', N'DELETED')
GO
SET IDENTITY_INSERT [dbo].[TBL_BOOKING] ON 

INSERT [dbo].[TBL_BOOKING] ([ID], [USERID], [RESOURCE_ID], [BOOKING_DATE], [STATUS_BOOKING], [ADMIN_APPROVE]) VALUES (55, N'pcgdgovap@gmail.com', N'RS2', CAST(N'2021-05-30' AS Date), N'ST3', N'hoanchienkute05@gmail.com')
INSERT [dbo].[TBL_BOOKING] ([ID], [USERID], [RESOURCE_ID], [BOOKING_DATE], [STATUS_BOOKING], [ADMIN_APPROVE]) VALUES (56, N'pcgdgovap@gmail.com', N'RS11', CAST(N'2021-05-30' AS Date), N'ST2', N'hoanchien@')
INSERT [dbo].[TBL_BOOKING] ([ID], [USERID], [RESOURCE_ID], [BOOKING_DATE], [STATUS_BOOKING], [ADMIN_APPROVE]) VALUES (66, N'thang1@gmail.com', N'RS2', CAST(N'2021-05-31' AS Date), N'ST1', N'')
SET IDENTITY_INSERT [dbo].[TBL_BOOKING] OFF
GO
INSERT [dbo].[TBL_BOOKING_STATUS] ([ID], [STATUS_NAME]) VALUES (N'ST1', N'Request')
INSERT [dbo].[TBL_BOOKING_STATUS] ([ID], [STATUS_NAME]) VALUES (N'ST2', N'Accept')
INSERT [dbo].[TBL_BOOKING_STATUS] ([ID], [STATUS_NAME]) VALUES (N'ST3', N'Delete')
GO
INSERT [dbo].[TBL_CATEGORY] ([ID], [CATEGORI_NAME]) VALUES (N'', N'')
INSERT [dbo].[TBL_CATEGORY] ([ID], [CATEGORI_NAME]) VALUES (N'CT1', N'electronice device')
INSERT [dbo].[TBL_CATEGORY] ([ID], [CATEGORI_NAME]) VALUES (N'CT2', N'stuff')
GO
INSERT [dbo].[TBL_RESOURCE] ([ID], [COLOR], [CATEGORY_ID], [QUANTITY], [NAME], [CREATED_DATE]) VALUES (N'RS1', N'black', N'CT1', 8, N'Computer', CAST(N'2021-05-02' AS Date))
INSERT [dbo].[TBL_RESOURCE] ([ID], [COLOR], [CATEGORY_ID], [QUANTITY], [NAME], [CREATED_DATE]) VALUES (N'RS10', N'black', N'CT1', 20, N'KeyBoard', CAST(N'2021-03-02' AS Date))
INSERT [dbo].[TBL_RESOURCE] ([ID], [COLOR], [CATEGORY_ID], [QUANTITY], [NAME], [CREATED_DATE]) VALUES (N'RS11', N'red', N'CT1', 21, N'Mouse', CAST(N'2021-04-03' AS Date))
GO
ALTER TABLE [dbo].[TBL_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ACCOUNT_TBL_ACCOUNT_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[TBL_ACCOUNT_ROLE] ([ID])
GO
ALTER TABLE [dbo].[TBL_ACCOUNT] CHECK CONSTRAINT [FK_TBL_ACCOUNT_TBL_ACCOUNT_ROLE]
GO
ALTER TABLE [dbo].[TBL_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ACCOUNT_TBL_ACCOUNT_STATUS] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[TBL_ACCOUNT_STATUS] ([ID])
GO
ALTER TABLE [dbo].[TBL_ACCOUNT] CHECK CONSTRAINT [FK_TBL_ACCOUNT_TBL_ACCOUNT_STATUS]
GO
ALTER TABLE [dbo].[TBL_BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BOOKING_TBL_ACCOUNT] FOREIGN KEY([USERID])
REFERENCES [dbo].[TBL_ACCOUNT] ([USERID])
GO
ALTER TABLE [dbo].[TBL_BOOKING] CHECK CONSTRAINT [FK_TBL_BOOKING_TBL_ACCOUNT]
GO
ALTER TABLE [dbo].[TBL_BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BOOKING_TBL_BOOKING_STATUS] FOREIGN KEY([STATUS_BOOKING])
REFERENCES [dbo].[TBL_BOOKING_STATUS] ([ID])
GO
ALTER TABLE [dbo].[TBL_BOOKING] CHECK CONSTRAINT [FK_TBL_BOOKING_TBL_BOOKING_STATUS]
GO
ALTER TABLE [dbo].[TBL_BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BOOKING_TBL_RESOURCE] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[TBL_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[TBL_BOOKING] CHECK CONSTRAINT [FK_TBL_BOOKING_TBL_RESOURCE]
GO
ALTER TABLE [dbo].[TBL_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_RESOURCE_TBL_CATEGORY] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[TBL_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[TBL_RESOURCE] CHECK CONSTRAINT [FK_TBL_RESOURCE_TBL_CATEGORY]
GO
